body{
    background-color: black;
    color: white;
}

.mainTitle 
{
    text-align: center;
    color: white;
    font-family: "Impact", serif, sans-serif;
    font-size: 5em;
}

img {
    display: block;
    max-height: 30vw;
    max-width: auto;
    min-height: 20vw;
    margin: auto;
    border: 5px solid white;
    padding: 10px;
}

#memeTitle
{
    text-align: center;
    font-family: "Times New Roman", "Times", serif, sans-serif;
    font-size: 5em;
}

#memeSubtitle
{
    text-align: center;
    font-family: "Times New Roman", "Times", serif, sans-serif;  
    font-size: 3em;
}

.InputArea{
	width: 90%;
    margin: auto;
    background-color: white;
    color : black;
}

.InputArea > h1
{
    font-size: 3em;
    text-align: center;
    font-family: fantasy, serif, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.InputArea > p
{
    text-align: center;
    font-family: serif, sans-serif;
    font-size: 2em;
        padding-left: 5%;
    padding-right: 5%;
}

form
{
    text-align: center;
    font-family: "Impact", serif, sans-serif;
    font-size: 3em;
}

input[type=text]
{
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=button]
{
	font-family: "Impact";
    font-size: 1em;
	width: 20%;
	color: white;
	background-color: black;
	cursor: pointer;
}
